{% load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>cakesio-flavourful</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'cakeapp/imgs/theme/favicon.svg' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'cakeapp/css/main.css' %}">
</head>

<body>
    <header class="header-area header-style-5">
        <div class="container m-5" > 
            <div class="row justify-content-center" >
            <div class="col-lg-9">
                <div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th class="text-end">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for order in order_items %}
        <tr>
            <td style="width: 21%;">
                
                    <img src="{{ order.variant.product.images.url }}" width="60%" height="100" class="img-xs" alt="Item">
               
            </td>
            <td>
                <a class="itemside" href="#">
                    <div class="info">{{ order.variant.product.product_name }}</div>
                </a>
            </td>
            <td>{{ order.variant.price|floatformat:2 }}</td>
            <td>
                {% if order.variant.product.is_seasonal and order.variant.product.seasonal_offer %}
                {{ order.variant.get_price|floatformat:2 }}
                {% else %}
                {{ 0|floatformat:2 }}
                {% endif %}
            </td>
            <td>{{ order.quantity }}</td>
            <td class="text-end">₹{{ order.sub_total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="text-end"><strong><h3>Bill Amount :</h3> </strong></td>
            <td class="text-end"><strong> <h4>₹{{ order_details.bill_amount }} </h4> </strong></td>
        </tr>
    </tbody>
</table>


                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                               
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            {{order_details.full_name}} <br>{{order_details.user.email}} <br> {{order_details.phone_number}}
                                        </p>
                                      
                                    </div>
                                </article>
                            </div> <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Fargo express <br> Pay method: {{order_details.payment_method}} <br> Status: {{order_details.status}}<br>
                                            Additional writings:&nbsp;&nbsp;{{order_details.order_notes}}
                                        </p>
                                      
                                    </div>
                                </article>
                            </div> <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: {{order_details.address}} <br>{{order_details.city}},{{order_details.district}} <br> {{order_details.pincode}}
                                        </p>
                                       
                                    </div>
                                </article>
                            </div> <!-- col// -->
                        </div> <!-- row // -->
                        <div >
                           
                          <a href="{% url 'order_view' order_details.id %}?pdf=true" class="btn btn-primary">Download invoice</a>

                        </div>
                       
                    </div>
                </div>
            </div>

                                   
            </head>
         </html>