{% load static %}
<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="utf-8">
     <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon --> <link rel="shortcut icon" type="image/x-icon" href="{% static "cakeapp/imgs/theme/favicon.svg" %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static "cakeapp/css/main.css"%}">
   
</head>

<body>
    <header class="header-area header-style-5">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="{% static "cakeapp/imgs/theme/flag-fr.png" %}" alt="">Français</a></li>
                                        <li><a href="#"><img src="{% static "cakeapp/imgs/theme/flag-dt.png" %}" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="{% static "cakeapp/imgs/theme/flag-ru.png" %}"alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <li><i class="fi-rs-user"></i><a href="{% url 'signup'%}">Log In / Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="card-body m-3">
             <div class="col-lg-6 mx-auto">
        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                    <h3 class="mb-30">Create an Account</h3>
                </div>

       
        
              
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group mt-10">
                        <input type="text" required="" name="first_name" placeholder="first_name">
                    </div>
                    <div class="form-group mt-10">
                        <input type="text" required="" name="last_name" placeholder="last_name" >
                    </div>
                    <div class="form-group">
                        <input type="text" required="" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input required="" type="text" name="phone_number" placeholder="phone number">
                    </div>

                    <div class="form-group">
                        <input required="" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input required="" type="password" name="confirmpassword" placeholder="Confirm password">
                    </div>
                    
                    <div class="form-group">
                        <input  type="text" name="referral_code" placeholder="Referral-Code">
                    </div>

                    <div class="login_footer form-group">
                     
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit </button>
                    </div>
                </form>
                
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show"role="alert">
          <h6>{{message}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
        </div>
        {% endfor %}

                {% if request.session.otp %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required="" type="text" name="otp" placeholder="enter otp">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">verify </button>
                    </div>
                   
                </form>
                {% endif %}

                <div class="text-muted text-center">Already have an account? <a href="{% url 'login' %}">Sign in now</a></div>
            </div>
        </div>
    </div>
    </div>
    </div>
    




</body>
</html>