{% extends "base.html" %}
{% load static%}
{% block content %}
 <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon </h2>
                 
                </div>
              
            </div>
       
                 <form method="POST" action="{% url 'coupon' %}">
            {% csrf_token%}
        <div class="card mb-4">
           
            <div class="card-body">
              {% for x in messages %}
                                        <div class="alert alert-{{x.tags}} alert-dismissible fade show"role="alert">
                                          {{x}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                                        </div>
                                        {% endfor %}
                <div class="mt-4">
                    <div class="text-muted font-size-14">
                        <label>CREATE COUPON</label>

                        <div >
                            <input class="form-control" type="text" placeholder="enter the code" name="coupon_code" >
                        </div>
                        <div>
                           <input class="form-control mt-3" type="text" placeholder="enter discount"  name="discount_percentage">
                           </div>
                            
                            <div>
                           <input class="form-control mt-3" type="date" placeholder="enter expiry date"  name="expiry_date">
                           </div>
                           
                       
                    </div>
                      <button type="submit" class="btn btn-primary m-3">create coupon</button>
                </div>
            </div>
         
        </div> 
        
    </form>
        </section>
        {% endblock %}