{% extends "base.html" %}
{% load static%}
{% block content %}

    
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Product Variation</h2>
                 
                </div>
                
            </div>
            <div class="card mb-4">
                        <div class="card-header">
                            <h4>Variation</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'product_variation' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">product</label>
                                            <select class="form-select" name="product_name">
                                        {% for i in product %}
                                        <option value="{{ i.id }}"> {{i.product_name}} </option>
                                        {% endfor %}
                                       
                                    </select>
                                        </div>
                                    </div>
                                   
                                       
                                        <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" name="weight">
                                </div>
                                    
                                </div>
                                
                                <div class="mb-3">
                                    <label for="product_name" class="form-label">price</label>
                                    <input type="text" placeholder="$" class="form-control" name="price">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Stock</label>
                                   <input type="text" placeholder="$" class="form-control" name="stock">
                                </div>
                                 <button type="submit" class="btn btn-md rounded font-sm hover-up">submit</button>
                            </form>
                        </div>
                    </div>
                    
                         {% for variation in variations %}
                           
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                             
                                <div class="form-check">
                                  <a href="{% url 'variation_delete' variation.id  %}" class="btn btn-sm font-sm btn-danger rounded">
                                    <i class="material-icons md-delete_forever "></i>
                                </a>  
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                   
                                    <div class="info">
                                        <h6 class="mb-0">{{variation.product}}</h6>
                                    </div>
                                   
                                </a>
                            </div>
                          
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span> {{variation.weight}}kg / {{variation.weight}}piece</span> </div>
                         
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">stock {{variation.stock}}</span>
                              
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price">
                                <span >${{variation.price}}</span>
                                
                            </div>
                           
                        
                           
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                  
                </div>
                {% endfor %}
           
        </section> <!-- content-main end// -->
         {% endblock%}