{% extends "base.html" %}
{% load static%}
{% block content %}

 <section class="content-main">
    <div class="row">
        <div class="col-9">
                    <div class="content-header">
                       <form method="POST" enctype="multipart/form-data">
                                {% csrf_token%}
                              
                          
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Save banner</button>
                        </div>
                    </div>
                </div>
            <div class="col-12 col-lg-9">

              
             <div class="card mb-4">
                 <div class="card-header">
                            <h4>Media</h4>
                            
                        </div>
                        <div class="card-body">
                            {% if banner.banner1 %}
                                <label class="form-label">Shop Banner 1</label>
                                <div class="input-upload">
                                    <img src="{{ banner.banner1.url }}" alt="Shop Banner 1">
                                    <input class="form-control" type="file" name="banner1">
                                </div>
                            {% else %}
                                <label class="form-label">Add Shop Banner 1</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="banner1">
                                </div>
                            {% endif %}

                            {% if banner.banner2 %}
                                <label class="form-label">Shop Banner 2</label>
                                <div class="input-upload">
                                    <img src="{{ banner.banner2.url }}" alt="Shop Banner 2">
                                    <input class="form-control" type="file" name="banner2">
                                </div>
                            {% else %}
                                <label class="form-label">Add Shop Banner 2</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="banner2">
                                </div>
                            {% endif %}

                            {% if banner.banner3 %}
                                <label class="form-label">Shop Banner 3</label>
                                <div class="input-upload">
                                    <img src="{{ banner.banner3.url }}" alt="Shop Banner 3">
                                    <input class="form-control" type="file" name="banner3">
                                </div>
                            {% else %}
                                <label class="form-label">Add Shop Banner 3</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="banner3">
                                </div>
                            {% endif %}
                        </div>



                        <div class="card-body">
                            {% if banner.offer_banner1 %}
                                <label class="form-label">offer Banner 1</label>
                                <div class="input-upload">
                                    <img src="{{ banner.offer_banner1.url }}" alt="Shop Banner 1">
                                    <input class="form-control" type="file" name="offer_banner1">
                                </div>
                            {% else %}
                                <label class="form-label">Add offer Banner 1</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="offer_banner1">
                                </div>
                            {% endif %}

                            {% if banner.offer_banner2 %}
                                <label class="form-label">offer Banner 2</label>
                                <div class="input-upload">
                                    <img src="{{ banner.offer_banner2.url }}" alt="Shop Banner 2">
                                    <input class="form-control" type="file" name="offer_banner2">
                                </div>
                            {% else %}
                                <label class="form-label">Add offer Banner 2</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="offer_banner2">
                                </div>
                            {% endif %}

                            {% if banner.offer_banner3 %}
                                <label class="form-label">Shop Banner 3</label>
                                <div class="input-upload">
                                    <img src="{{ banner.offer_banner3.url }}" alt="Shop Banner 3">
                                    <input class="form-control" type="file" name="offer_banner3">
                                </div>
                            {% else %}
                                <label class="form-label">Add Shop Banner 3</label>
                                <div class="input-upload">
                                    <input class="form-control" type="file" name="offer_banner3">
                                </div>
                            {% endif %}
                        </div>

                        </div>
                    </div> 
               
                </form>
             
                </div>
            </div>
        </div>

        
    </section>   

{% endblock %}