{% extends "base.html" %}
{% load static%}
{% block content %}


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                 
                </div>
              
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                     
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <form id="statusForm"  action="{% url 'admin_orders' %}" method="get">
                              
                            <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" name="status" id="statusSelect" onchange="filterOrders()">
                                <option value="none">Filter status</option>
                                <option value="none">All</option>
                                <option value="confirmed">Confirmed</option>
                                <option value="shipped" >Shipped</option>
                                <option value="delivered" >Delivered</option>
                                <option value="cancelled" >cancelled</option>
                            </select>
                           
                          
                            </form>
                        </div>    
                        
                    </div>
                    
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td><b>{{order.user.first_name}}</b></td>
                                    <td>{{order.user.email}}</td>
                                    <td>${{order.bill_amount}}</td>
                                    {% if order.status == "cancelled" %}
                                    <td><span class="badge rounded-pill alert-danger">{{order.status}}</span></td>
                                    {% elif  order.status == "delivered" %}
                                    <td><span class="badge rounded-pill alert-success">{{order.status}}</span></td>
                                    {% else %}
                                    <td><span class="badge rounded-pill alert-warning">{{order.status}}</span></td>
                                    {% endif %}
                                    <td>{{order.created_date}}</td>
                                    <td class="text-end">
                                        <a href="{% url 'order_details' order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                       
                                    </td>
                                </tr>
                                {% endfor %} 
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

<script>
    function filterOrders() {
        document.getElementById("statusForm").submit();
    }
</script>
        {% endblock %}
 