{% load static%}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'cakeapp/imgs/theme/favicon.svg'%}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'cakeapp/css/main.css'%}">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                
                                <li><i class="fi-rs-user"></i><a href="page-login-register.html">Log In / Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <div class="container">
        <div class="card-body m-5">
<form class="text-center border border-light p-5" method="POST" action="order">
    {% csrf_token %}
    <p class="text-muted mt-5">Pay via Razerpay; you can pay with your credit card if you don't have a Razerpay account.</p>

    <input type="name" name="name" required class="form-control mb-4" placeholder="name">



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        key: 'rzp_test_xlthjADEQlar19',
        amount: {{ total }},  // Use the actual amount from your Django context
        currency: 'INR',
        prefill: {
            name: '{{ user.first_name }}',
            email: '{{ user.email }}',
            notes: {
                success_url: "{% url 'success' %}"
            }
        },
        handler: function(response) {
            // Handle the response, and redirect to the success page
            if (response.razorpay_payment_id) {
                window.location.href = "{% url 'create_order' %}";
            } else {
                // Handle failure or cancellation
                console.log('Payment failed or canceled');
            }
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
</script>

</form>
</div>
</div>

        <footer class="main">
            
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-about font-md mb-md-5 mb-lg-0">
                                <div class="logo logo-width-1 wow fadeIn animated">
                                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                                </div>
                                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                <p class="wow fadeIn animated">
                                    <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                                </p>
                                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                       
                        </div>
                    </div>
                </div>
            </section>
            <div class="container pb-20 wow fadeIn animated">
                <div class="row">
                    <div class="col-12 mb-20">
                        <div class="footer-bottom"></div>
                    </div>
                    <div class="col-lg-6">
                        <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-lg-end text-start font-sm text-muted mb-0">
                            Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </footer>
       
        <!-- Vendor JS-->
        <script src="{% static 'cakeapp/js/vendor/modernizr-3.6.0.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/vendor/jquery-3.6.0.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/vendor/jquery-migrate-3.3.0.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/vendor/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/slick.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/jquery.syotimer.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/wow.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/jquery-ui.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/perfect-scrollbar.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/magnific-popup.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/select2.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/waypoints.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/counterup.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/jquery.countdown.min.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/images-loaded.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/isotope.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/scrollup.js'%}"></script>
        <script src="{% static 'cakeapp/js/plugins/jquery.vticker-min.js'%}"></script>
        <!-- Template  JS -->
        <script src="{% static 'cakeapp/js/main.js'%}"></script>
        <script src="{% static 'cakeapp/js/shop.js'%}"></script>
