{% extends "cakebase.html" %}
{% load static%}
{% block content %}

    <main class="main">
     
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                   
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">the below</strong> items for you!</p>
                            </div>
                           
                        </div>
              
                    
                    {% for seasonal_offer in seasonal_offers %}
                              <h2>{{ seasonal_offer.name }}</h2>
                              <p>Discount: {{ seasonal_offer.discount_percentage }}%</p>
                    {% endfor %}
                              
                    <div class="col-lg-9">
                        <div class="tab-header">
                            <div class="tab-content wow fadeIn animated" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                                    <div class="row product-grid-4">

                                    {% for discounted_product in discounted_products %}
                                      
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <form method="post" action="{% url 'add_cart' product_id=discounted_product.product.id %}">
                                                       {% csrf_token %}
                         
                                                <div class="product-img-action-wrap">
                                                     
                                                    <div class="product-img product-img-zoom">
                                                    <a href="">
                                                        <img class="default-img" src={{discounted_product.product.images.url}} alt="">
                                                        <img class="hover-img" src={{discounted_product.product.images.url}} alt="">
                                                    </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up"  href=""><i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                    <a href="shop-grid-right.html"> {{ discounted_product.product.category.category_name }}</a>
                                                    </div>
                                                    <h2><a href="shop-product-right.html">{{ discounted_product.product.product_name }}</a></h2>
                                                    <div class="mt-3">
                                                     <h5><a href="shop-product-right.html">{{ discounted_product.product.description }}</a></h5>
                                                    </div>
                                                    <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>30%</span>
                                                    </span>
                                                    </div>
                                                    <input type="hidden" name="weightlist" value="{{ discounted_product.product.default_weight }}">
                                                    <div class="product-price">
                                                    <span>${{discounted_product.discounted_price }} </span>
                                                    <span class="old-price">${{discounted_product.product.price }}</span>
                                                     <button aria-label="Add To Cart" class="action-btn hover-up m-3" type="submit"><i class="fi-rs-shopping-bag-add">&nbsp;&nbsp;Add to Cart</i></button>
                                                    </div>
                                                    
                                                </div>
                                                 </form>
                                            </div>
                                        </div>

                                    {% endfor%}
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
    